# set to 0 if you do not wish to support dot1q vlans
vlansupport=1
# set for ipv4 support
ipaddress=195.10.131.29
# set for ipv6 support
ip6address=2001:6e8:280::1:342d
# interface to listen on
iface=eth1
# debug level (0 = nothing, 1 = something, 2 = with packet dumps)
debuglevel=1
